* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 30px 0 30px 0;
  background: #343a40;
  color: #fff;
  text-align: center;
}

header h1 {
  display: inline;
  margin-left: 15px;
  font-weight: 300px;
}

form {
  text-align: center;
  margin: 20px;
  margin-bottom: 100px;
}
input {
  padding: 10px;
  border-radius: 0px;
}
button {
  padding: 10px;
  margin-left: 0px;
  background-color: #343a40;
  color: #fff;
  border-radius: 0px;
}

button:hover {
  background-color: rgb(103, 103, 143);
  border-radius: 0px;
}
select {
  /* margin: 10px; */
  padding: 10px;
  background-color: #343a40;
  color: #fff;
}
